* {
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #16213e;
    color: #fff;
}

#CEP {

    margin-bottom: 100px;
}

#btnNav {
    background-color: #fff;
}

#consulta {
    color: #fff;
    margin-top: 30px;
    font-size: large;
}


#consultaTable th {
    cursor: pointer;
    text-decoration: underline;
}

#consultaTable th:hover {
    color: blue; 
}
